<a href="https://colab.research.google.com/github/AntonioReto/edd_1310_2021/blob/master/6deOctubre2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#string continuacion 
numeros_txt = "     1,2,3,4  ,5, 35,  15, 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j]= int (numeros_txt[j].strip())
print(numeros_txt)

#funcion range()

#range(inicio, stop, incremento)
print (range(1,10,3))
rango = range(1,10,2)
for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

     1,2,3,4  ,5, 35,  15, 12
['1', '2', '3', '4  ', '5', ' 35', '  15', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#Listas
- mutables.
- declaran con [ ].
- selector[ int ].
- pueden ser de cualquier tipo y mezclado

#Tuplas
- No mutables.
- Declaran con ()
- selectos [int]

#diccionarios
- son mutables
- son conjuntode pares llave:valor
- Equivalentes a los objetos en JSON de JavaScript

#conjuntos
- Representacion de la teoría de conjuntos

In [26]:
#Listas
frutas = ["Pera", "Manzana", "fresa", "Quiwi", "Naranja"]
print(frutas)
cosas= ["cuaderno",2,3.1416, True,False, ['rojo', 'azul']]
frutas[2]= "Fresa"
print (frutas)
#agregar a lista 
#append se usa para agregar al final
frutas.append("aguacate")
print(frutas)
#insert((numero de la posición que queremos), "Nombre de lo que queremos agregar o variable")
frutas.insert(2,"Sandía")
print(frutas)
#Poner en formato fecha concatenando listas
fecha = ["06","10","2020"]
print(fecha)
fecha_str= "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Quiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Quiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Quiwi', 'Naranja', 'aguacate']
['Pera', 'Manzana', 'Sandía', 'Fresa', 'Quiwi', 'Naranja', 'aguacate']
['06', '10', '2020']
06/10/2020

In [34]:
#eliminar elementos
cosas= ["cuaderno",2,3.1416, True,False, ['rojo', 'azul']]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)
#pop elimina y almacena la variable
algo = cosas.pop(2)
print(cosas)
print (algo)
#remove
cosas.remove(2)
print(cosas)
#vaciar lista
cosas.clear()
print (cosas)

#ordenar 
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'Libro']
Lapiz
['cuaderno', 2, True, False, ['rojo', 'azul'], 'Libro']
3.1416
['cuaderno', True, False, ['rojo', 'azul'], 'Libro']
[]
['Fresa', 'Manzana', 'Naranja', 'Pera', 'Quiwi', 'Sandía', 'aguacate']
['Fresa', 'Manzana', 'Naranja', 'Pera', 'Quiwi', 'Sandía', 'aguacate']
[]

In [40]:
#slicing

cosas= ["cuaderno",2,3.1416, True,False, ['rojo', 'azul']]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])
numeros=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
#cuando el incremento es el 1 puedes omitirlo y lo marcará por defecto
print(numeros[8:13])

#sustituir rebanadas
numeros[8:13:]=[-2,-2]
print (numeros)

#preguntar por una existencia de algún numero
print(-2 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True

#Listas multidimensión (listas dentro de listas)

In [64]:
computadoras=["HP","Mac Book Pro 17","Mate Book","Lenovo Legion"]
oss= ["Windows 10", "Linux", "Android","IOS"]

computo=[computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: : 1])
print("Linux" in oss)
dbms=[["MySQL","Open Source", False] , ["MS SQL Server","de Paga ",True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'IOS']
Mate Book
Mate
ovoneL
o Legion
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'IOS'], [['MySQL', 'Open Source', False], ['MS SQL Server', 'de Paga ', True]]]
MySQL
de Paga